/* Dark mode (default)*/
	:root {
		--mainColour: #FCA7A5;
		--secondColour: #A76286;
		--backgroundColour: #5A3E79;
		--errorColour: red;
	}


/* light mode */
@media (prefers-color-scheme: light) {
	:root {
		--mainColour: #E56997;
		--secondColour: #BD97CB;
		--backgroundColour: #66D2D6;
		--errorColour: red;
	}
}
