.error {
    color: var(--errorColour);
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    border: 2px solid var(--errorColour);
    border-radius: 5px;
}

.refresh-button {
    background-color: var(--mainColour);
    color: var(--textOnBack);
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: x-large;
    cursor: pointer;
    margin-top: 12px
}

.error-page {
    text-align: center;
}