:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

td {
    padding: 10px;
}

.inc-button,
.dec-button {
    margin: 0 8px;
}

thead {
    background-color: #ddd;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

body {
    margin: auto;
    max-width: 1200px;
}

.summary {
    text-align: right;
    font-size: x-large;
}

.basket-container {
    display: flex;
    flex-direction: column;
}

.options-cell {
    display: flex;
    flex-direction: row;
}


#footer-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.page-container{
    display: flex;
    flex-direction: row;
}
.basket{

}
.address{

}
.promotion{

}

