/* Dark mode (default)*/
:root {

	--mainColour: #7954A1;
	--secondColour: #603F8B;
	--thirdColour: #3CACAE;
	--fourthColour: #F6EEF0;
	--backgroundColour: #0C2D48;
	--promColour: #81599F;
	--inputColour: #2E8BC0;
	--textOnBack: #ffffff;
	--shadowColour: #383940;
	--white: #ffffff;
	--errorColour: red;
	--successColour: green;
}


/* light mode */
@media (prefers-color-scheme: light) {
	:root {
		--mainColour: #A98AB0;
		--secondColour: #BEAFC2;
		--thirdColour: #383940;
		--fourthColour: #AA1945;
		--backgroundColour: #F1F1F0;
		--promColour: #EFDCF9;
		--shadowColour: #dddddd;
		--inputColour: #ffffff;
		--textOnBack: black;
		--white: #ffffff;
		--errorColour: red;
		--successColour: green;
	}
}

:root {
	font-family: system-ui, Inter, "Roboto Light", Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: auto;
	background-color: var(--backgroundColour);
}

legend {
	color: var(--textOnBack);
}

.summary {
	text-align: right;
	font-size: x-large;
	color: var(--textOnBack)
}

.summaryDiscount {
	text-align: left;
	color: var(--thirdColour);
	font-size: medium;
}

.foot_paragraph {
	color: var(--textOnBack);
}

#footer-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	color: var(--textOnBack);
}



.header {
	height: 90px;
	position: sticky;
	background-color: var(--mainColour);
	border-color: var(--shadowColour);
	border-width: 0;
	border-bottom-width: 2px;
	top: 0;
	padding: 10px;
	z-index: 1000;
	border-style: solid;
	display: flex;
}

.brand_name {
	color: var(--textOnBack)
}

.header_image {
	max-width: 70%;
	height: auto;
	margin-left: 10px;
	margin-right: 15px;
}

.continue {
	display: flex;
	justify-content: center;
	padding: 12px;

}

.continue__button {
	width: 200px;
	height: 36px;
	border-radius: 15px;
	border: var(--shadowColour);
	background-color: var(--thirdColour);
	color: #ffffff;
	font-size: 18px;
}

.back {
	display: flex;
	justify-content: center;
	padding: 12px;

}

.back-button {
	width: 200px;
	height: 36px;
	border-radius: 15px;
	border: var(--shadowColour);
	background-color: var(--thirdColour);
	color: #ffffff;
	font-size: 18px;
}

/* if disabled continue button */
.continue__button:disabled {
	background-color: var(--shadowColour);
	color: grey;
}

.next-button:hover {
	background-color: var(--mainColour);
}

.title-card {
	background-color: var(--mainColour);
	padding: 5px;
	border: 1px solid var(--thirdColour);
	border-radius: 5px;
	text-align: center;
	font-size: 150%;
	color: var(--textOnBack)
}

.text-card {
	padding: 16px 16px 16px 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	align-items: center;
	background-color: #ffffff;
}

#content {

	max-width: 1200px;
	margin: auto;
}

main {
	display: grid;
	grid-template-columns: 400px 1fr;
	gap: 8px;
	margin: 8px 0;
	padding: 8px 8px 32px 8px;

}

.promotion-box {
	background-color: var(--secondColour);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

@media (max-width: 800px) {
	main {
		display: grid;
		grid-template-columns: 1fr;
	}

}

#summary-container {
	grid-area: summary;
	background-color: var(--secondColour);
	display: flex;
	flex-direction: column;
	border: 1px solid var(--thirdColour);
	border-radius: 5px;
	position: sticky;
	padding: 0 20px;
	align-items: center;
	color: var(--textOnBack);
}

#payment-container {
	background-color: var(--secondColour);
	display: flex;
	flex-direction: column;
	border: 1px solid var(--thirdColour);
	border-radius: 5px;
	position: sticky;
	padding: 0 15px;
	align-items: center;
	color: var(--textOnBack);
}


.promotion-container {
	overflow-y: auto;
	display: flex;
	flex-direction: row;
	gap: 10px;

}

footer {
	max-width: 800px;
	margin: auto;
}

.progress-bar {
	height: 20px; 
	width: 100%;
	background-color: var(--mainColour);
  }
  
  .progress-bar__fill {
	height: 100%;
	background-color: var(--successColour);
  }