/* Dark mode (default)*/
:root {
	--mainColour: #FCA7A5;
	--secondColour: #A76286;
	--backgroundColour: #5A3E79;
	--shadowColour: #383940;
	--errorColour: red;
}


/* light mode */
@media (prefers-color-scheme: light) {
	:root {
		--mainColour: #A98AB0;
		--secondColour: #BEAFC2;
		--thridColour: #383940;
		--backgroundColour: #F1F1F0;
		--shadowColour: #dddddd;
		--errorColour: red;
	}
}

:root {
	font-family: "Roboto Light", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: auto;
	max-width: 1200px;
	padding: 0 1em;
	background-color: var(--backgroundColour);
}

.summary {
	text-align: right;
	font-size: x-large;
}

.summaryDiscount {
	text-align: right;
	color: var(--thridColour);
	font-size: medium;
}


#footer-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.header {
	height: 90px;
	position: sticky;
	background-color: var(--mainColour);
	border-color: var(--shadowColour);
	border-width: 0;
	border-bottom-width: 2px;
	top: 0;
	padding: 10px;
	z-index: 1000;
	border-style: solid;
	display: flex;
}

.header_image {
	max-width: 100%;
	height: auto;
	margin-left: 10px;
	margin-right: 15px;
}


.page_and_summary_container {
	display: grid;
	grid-template-columns: 400px 1fr;
	gap: 2em;
}

.continue {
	display: flex;
	justify-content: flex-end;
	padding: 20px;

}

.continue__button {
	width: 200px;
	height: 36px;
	border-radius: 15px;
	border: var(--shadowColour);
	background-color: var(--thridColour);
	color: #ffffff;
	font-size: 18px;
}

.next-button:hover {
	background-color: var(--mainColour);
}

.title-card {
	background-color: var(--mainColour);
	padding: 5px;
	border: 1px solid var(--thridColour);
	border-radius: 5px;
	text-align: center;
	font-size: 150%;
}

.text-card {
	padding: 20px 20px 20px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	align-items: center;
	background-color: #ffffff;
}

.page_components {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}

.user-info-container {
	/* display: flex; */
	/* flex-direction: column; */
	/* gap: 10px; */
	/* width: 60%; */
	/* max-height: 100%; */
}

.content-container {
	padding-top: 18px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
}

.summary-container {
	background-color: var(--secondColour);
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: sticky;
	top: 120px;
	margin-left: 40px;
	padding: 0 20px;
}

.promotion-box {
	max-height: 35%;
	height: 35%;
	background-color: var(--secondColour);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 90%;
}

.promotion-container {
	overflow-y: auto;
	display: flex;
	flex-direction: row;
	gap: 10px;

}