:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

td {
    padding: 10px;
}

.inc-button,
.dec-button {
    margin: 0 8px;
}

thead {
    background-color: #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

body {
    margin: auto;
    max-width: 1200px;
}

.summary {
    text-align: right;
    font-size: x-large;
}


#footer-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.head{
    height: 80px;
    display: flex;
    flex-direction: row;
    position: sticky;
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 0;
    border-bottom-width: 2px;
    top: 0;
    padding: 10px;
    z-index: 1000;
    border-style: solid;

}
.page_and_summary_container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.next-button{
    width: 80%;
    height: 36px;
    border-radius: 15px;
    border: #bbbbbb;
    background-color: #007bff;
    color: #ffffff;
    font-size: 18px;
}
.next-button:hover{
    background-color: #0461c5;
}
.title-card{
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 28px;
}
.text-card{
    padding: 20px 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    background-color: #ffffff;
}
.page_components{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-info-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    max-height: 100%;
}
.content-container{
    width: 80%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.summary-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 40px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: sticky;
    top: 120px;
}
.promotion-box{
    max-height: 35%;
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.promotion-container{
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

