.promotion-card {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5px;
    padding: 20px 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    background-color: var(--backgroundColour);
}
.promotion-card:hover{
    background-color: #eeeeee;
}
.promotion-image{
    width: 40%;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 15px;
}
.promotion-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.promotion-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 1px 5px 1px 5px;
    width: 100px;
}
.promotion-name{
    font-weight: bold;
    font-size: 80%;
}
.promotion-price{
    font-size: 14px;
}