.promotion-card {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: 5px;
	padding: 20px 20px 20px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	align-items: center;
	background-color: var(--promColour);
}

.promotion-card:hover {
	background-color: var(--shadowColour);
}

.promotion-image {
	background-color: var(--white);
	border-radius: 16px;
	overflow: hidden;
}

.promotion-image img {
	object-fit: contain;
	width: 200px;
	height: 200px;
}

.promotion-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 1px 5px 1px 5px;
}

.promotion-name {
	font-weight: bold;
	font-size: 80%;
	color: var(--textOnBack)
}

.promotion-price {
	font-size: 14px;
	color: var(--textOnBack);
	white-space: nowrap;
}