.promotion-container {
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 5px;
}
