.item-list {
	padding-left: 0;
	display: flex;
	flex-direction: column;
	border-width: 0;
	border-bottom-width: 1px;
	border-color: #dddddd;
	border-style: solid;

}

.summary-item {
	margin-bottom: 8px;
	display: grid;
	grid-template-columns: minmax(70px, 1fr) 50px 2fr 100px;
	width: 100%;
	align-items: center;
}

.summary-item-name {
	/* width: 78%; */
	font-size: 100%;
	font-weight: bold;
	color: var(--textOnBack)
}

.summary-item-amount {
	/* width: 15%; */
	padding-left: 10px;
	text-align: center;
	font-size: 100%;
	color: var(--textOnBack)
}

.summary-item-total {
	/* width: 15%; */
	text-align: right;
	font-size: 100%;
	color: var(--textOnBack)
}

.summary-item-image {
	padding: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	border-radius: 15px;
	overflow: hidden;
	width: 90px;
	height: 90px;
}

/* Image styling */
.summary-item-image img {
	max-width: 80px;
	max-height: 80px;
	object-fit: contain;
}

@media (max-width: 480px) {
	.summary-item {
		grid-template-columns: minmax(70px, 1fr) 50px 2fr 100px;
		gap: 5px;
	}

	.summary-item-image {
		max-height: 60px;
		max-width: 60px;
		margin-right: 4px;
	}

	.summary-item-image img {
		max-width: 100%; /* Allow the image to fill the container */
		max-height: 100%;
	}

	.summary-item-name,
	.summary-item-amount,
	.summary-item-total {
		font-size: 14px; /* Adjust the font size if necessary */
	}
}

