#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.basket-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

.basket-item-details {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.basket-item-options {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.basket-item-name {
  font-weight: bold;
  flex: 1;
  text-align: left;
  margin-right: 1em;
}
item-unit-price {
  display: flex;
  text-align: left;
  font-weight: bold;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  width: 120px;
  color: black;
}

.item-price {
  flex: none;
  width: 90px;
  text-align: right;
  margin-right: 1em;
}

.shopping-basket h1 {
  font-weight: bold;
    text-align: left;
  font-size: 40px;
}

.customer-basket{
  max-height: 500px;
  overflow-y: auto;
}
.basket-summary{
  text-align: right;
  margin-right: 1em;
  flex: none;
}

.basket-summary h2 {
  font-weight: bold;
  text-align: right;
  font-size: 20px;
}

.basket-summary h3 {
  font-weight: bold;
  text-align: right;
  font-size: 25px;
}

.item-name-and-quantity {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.item-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.gift-wrap,
.recurring-order {
  padding-right: 15px;
}

.recurring-order-label {
  display: inline-block;
  margin-left: 15px;
}

.item-price-and-remove {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.basket-item button {
  flex: none;
}


.basket-item button {
  margin-left: auto;
}

.quantity-arrow {
  width: 15px;
  height: 15px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-control input {
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #f0f0f0;
  -moz-appearance: textfield; /* Remove the spin button Firefox*/
}

.quantity-control button {
  width: 10px;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.option {
  margin-left: 15px; /* Adjust spacing between options */
}


.arrow-button {
  margin: 0 -7px;
  border-top: 5px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid transparent;
  background: none;
  padding: 0;
  cursor: pointer;
}

.item-price {
  font-weight: bold;
  text-align: end;
  margin-left: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Remove the spin button Chrome and other chromium browsers*/
.quantity-control input::-webkit-outer-spin-button,
.quantity-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
