:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

td {
    padding: 10px;
}

.inc-button,
.dec-button {
    margin: 0 8px;
}

thead {
    background-color: #ddd;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

body {
    margin: auto;
    max-width: 640px;
}

.summary {
    text-align: right;
}

.basket-container {
    display: flex;
    flex-direction: column;
}

.options-cell {
    display: flex;
    flex-direction: row;
}

.quantity-cell {
	display: flex;
	justify-content: space-between;
	border: 1px solid #000;
	padding: 10px 10px;
    border-radius: 20px 20px 20px 20px;
	align-items: center;
}
.quantity-cell > button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	border-radius: 0;
}


.quantity-btn:hover, .quantity-btn:active {
    background-color: #ccc;
}

.summary {
    font-size: x-large;
}

#footer-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

