:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

td {
	padding: 10px;
}

.inc-button,
.dec-button {
	margin: 0 8px;
}

thead {
	background-color: #ddd;
}

tbody tr:nth-child(even) {
	background-color: #eee;
}

body {
	margin: auto;
	max-width: 640px;
}

.summary {
	text-align: right;
}

.basket-container {
	display: flex;
	flex-direction: column;
}

.options-cell {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}